@import "./variables.scss";

@keyframes enable-button {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes lds-facebook {
	0% {
		height: 90%;
	}
	50% {
		height: 35%;
	}
	100% {
		height: 35%;
	}
}

@keyframes transition-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes transition-in-left {
	0% {
		opacity: 0;
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes sunlight {
	0% {
		color: gray;
	}
	100% {
		color: darken(yellow, 5%);
	}
}

@keyframes glow {
	0% {
		transform: scale(1);
		color: darken(yellow, 5%);
	}
	50% {
		color: darken(yellow, 7%);
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		color: darken(yellow, 5%);
	}
}

@keyframes treeshake {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0);
	}
}

@keyframes link-active {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes float {
	0% {
		transform: scale(1) rotate(0deg);
		box-shadow: 0.3rem 0.3rem 0.6rem $shadow-active;
	}
	50% {
		transform: scale(1.05) rotate(3deg);
		box-shadow: 0.6rem 0.6rem 1.2rem $shadow-inactive;
	}
	100% {
		transform: scale(1) rotate(0deg);
		box-shadow: 0.3rem 0.3rem 0.6rem $shadow-active;
	}
}
