/* long-cang-regular - latin */
@font-face {
	font-family: "Long Cang";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/long-cang-v5-latin-regular.eot"); /* IE9 Compat Modes */
	src: local("Long Cang Regular"), local("LongCang-Regular"),
		url("/fonts/long-cang-v5-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/long-cang-v5-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/long-cang-v5-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/long-cang-v5-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/long-cang-v5-latin-regular.svg#LongCang") format("svg"); /* Legacy iOS */
}
/* nunito-italic - latin */
@font-face {
	font-family: "Nunito";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/nunito-v13-latin-italic.eot"); /* IE9 Compat Modes */
	src: local("Nunito Italic"), local("Nunito-Italic"),
		url("/fonts/nunito-v13-latin-italic.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/nunito-v13-latin-italic.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/nunito-v13-latin-italic.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/nunito-v13-latin-italic.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("/fonts/nunito-v13-latin-italic.svg#Nunito")
			format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/nunito-v13-latin-regular.eot"); /* IE9 Compat Modes */
	src: local("Nunito Regular"), local("Nunito-Regular"),
		url("/fonts/nunito-v13-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/nunito-v13-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/nunito-v13-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/nunito-v13-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("/fonts/nunito-v13-latin-regular.svg#Nunito")
			format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/nunito-v13-latin-700.eot"); /* IE9 Compat Modes */
	src: local("Nunito Bold"), local("Nunito-Bold"),
		url("/fonts/nunito-v13-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/nunito-v13-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/nunito-v13-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/nunito-v13-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("/fonts/nunito-v13-latin-700.svg#Nunito")
			format("svg"); /* Legacy iOS */
}
