//breakpoints
$form-input-breakpoint: 30em; //450px
$prompt-breakpoint: 20rem;

//button shadow
$shadow-inactive: rgba(#211717, 0.2);
$shadow-active: rgba(#211717, 0.4);

//z-index
$prompt-window-index: 500;
$side-drawer-index: 200;
$backdrop-index: 100;

$label-font-size: 1.2rem;

$grid-container-padding: 1rem;
$label-left-offset: 1.7rem;

$red: #ed1b2e;

$danger: #d92027;
$danger-light-10: lighten($danger, 10%);
$danger-light-20: lighten($danger, 20%);
$danger-light-30: lighten($danger, 30%);

$white: #ffffff;
$white-dark-10: darken(#ffffff, 10%);
//---------------------------------------------------
$platinum: #e5e5e5;

$platinum-light-8: darken($platinum, 8%);
$platinum-dark-5: darken($platinum, 5%);
$platinum-dark-10: darken($platinum, 10%);
$platinum-dark-20: darken($platinum, 20%);
$platinum-dark-50: darken($platinum, 50%);
$platinum-dark-80: darken($platinum, 80%);

//---------------------------------------------------
$info: #fca311; //orange-web
$info-light-5: lighten($info, 5%);
$info-light-30: lighten($info, 30%);

//------------------------------------------------
$primary: #13aa52; //oxford-blue
$primary-light-20: lighten($primary, 20%);
$primary-light-30: lighten($primary, 30%);
$primary-light-40: lighten($primary, 40%);
$primary-light-50: lighten($primary, 50%);

$primary-dark-8: darken($primary, 8%);
$primary-dark-20: darken($primary, 20%);
$primary-dark-30: darken($primary, 30%);

$tindog: #ff4c68;
$trillo: #eb2f64;
$nexter: darken(#c6997d, 10%);
$natours: #7ed56f;
$burger: #ca5116;
$manhours: #fb6f17;
$ecommerce: navy;

$html: orangered;
$react: darken(lightskyblue, 30%);
$redux: purple;
$firebase: orange;
$sass: crimson;
$bem: black;
$css: blue;
$mongodb: $primary;
$node: blue;
$javascript: darken(yellow, 20%);
