@import "../common/variables.scss";
@import "../common/mixins.scss";
@import "../common/animations.scss";

.brand {
	padding-left: 2rem;
	display: block;
	// text-shadow: 0.1rem 0.1rem 0.2rem;

	& > div {
		transform-origin: 100% 0%;
		display: flex;
		align-items: center;
		border-top-left-radius: 80%;
		border-bottom-right-radius: 80%;
		animation: float 2s linear 2s infinite;
		box-shadow: 0.4rem 0.4rem 0.8rem $shadow-inactive;
		&:active {
			box-shadow: 0.2rem 0.2rem 0.4rem $shadow-active;
		}
	}

	&__logo {
		height: 5rem;
		width: 5rem;
		object-fit: contain;
	}
}
