@import "../common/animations.scss";
@import "../common/variables.scss";

.navigation {
	width: 100%;

	&__list {
		position: relative;
		height: 5rem;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr auto auto 2%;
		justify-items: center;
		align-items: center;

		& > li:nth-child(2) {
			justify-self: right;
		}
	}

	&__brand {
		position: absolute;
		left: 0;
		top: 100%;
		transform: translateY(-50%);
	}

	&__link {
		display: block;
		font-size: 1.6rem;
		color: $white;
		font-weight: 700;
		padding: 1rem;

		&:focus,
		&:active {
			color: $primary-light-20;
		}

		&--active {
			animation: link-active 0.2s ease-out;
			color: $primary-light-40;
		}
	}
}
