@import "../common/variables.scss";
@import "../common/animations.scss";
@import "../common/mixins.scss";

.project {
	// width: 40rem;
	border-radius: 0.5rem;
	box-shadow: 0.4rem 0.4rem 0.8rem $shadow-inactive;
	color: lighten(black, 20%);
	&--ecommerce {
		min-height: 30rem;
		color: darken(white, 10%);
		background: center / 80% no-repeat url("/icons/constructionSVG.svg"),
			linear-gradient(45deg, transparent, $ecommerce);
	}
	&--event {
		background: center / 40% no-repeat url("/icons/eventSVG.svg"),
			linear-gradient(45deg, transparent, $manhours);
	}

	&--manhours {
		background: center / 23% no-repeat url("/icons/manhoursSVG.svg"),
			linear-gradient(45deg, transparent, $manhours);
	}

	&--burger {
		background: center / 27% no-repeat url("/icons/burgerSVG.svg"),
			linear-gradient(45deg, transparent, $burger);
	}

	&--natours {
		background: center / 30% no-repeat url("/icons/natoursPNG.png"),
			linear-gradient(45deg, transparent, $natours);
	}

	&--nexter {
		background: center / 30% no-repeat url("/icons/nexterPNG.png"),
			linear-gradient(45deg, transparent, $nexter);
	}

	&--trillo {
		background: center / 30% no-repeat url("/icons/trilloPNG.png"),
			linear-gradient(45deg, transparent, $trillo);
	}
	&--tindog {
		background: center 55% / 30% no-repeat url("/icons/tindogPNG.png"),
			linear-gradient(45deg, transparent, $tindog);
	}

	.icon {
		vertical-align: middle;
		font-size: 1.8rem;

		&--link {
			font-size: 3rem;
			vertical-align: unset;
			color: lighten(black, 30%);
		}

		&--burger {
			font-size: 3rem;
			vertical-align: unset;
			color: darken(white, 10%);
		}

		&--ecommerce,
		&--manhours,
		&--event {
			font-size: 2.5rem;
			// vertical-align: unset;
			color: white;
		}

		&--html {
			color: $html;
		}
		&--react {
			color: $react;
		}

		&--javascript {
			color: $javascript;
		}

		&--redux {
			color: $redux;
		}

		&--firebase {
			color: $firebase;
		}

		&--css {
			color: $css;
		}

		&--sass {
			color: $sass;
		}

		&--bem {
			color: $bem;
		}

		&--mongodb {
			color: $mongodb;
		}

		&--node {
			color: $node;
		}
	}

	&__title {
		// padding-left: 0.5rem;
		position: relative;
		display: flex;
		align-items: center;
		color: $white;
		background-color: #ff4c68;
		box-shadow: 0 0.1rem 0.2rem $shadow-inactive;

		&--ecommerce {
			background-color: $ecommerce;
		}

		&--manhours,
		&--event {
			background-color: $manhours;
		}
		&--burger {
			background-color: $burger;
		}

		&--natours {
			background-color: $natours;
		}

		&--nexter {
			background-color: $nexter;
		}

		&--trillo {
			background-color: $trillo;
		}

		h2 {
			padding: 0.5rem;
			display: inline-block;
			font-size: 1.7rem;
		}

		.logo {
			margin-left: 0.5rem;
			&--natours {
				background: center / contain no-repeat url("/icons/natoursPNG.png");
			}

			display: inline-block;
			width: 4rem;
			height: 4rem;
		}
	}

	&__link {
		position: absolute;
		right: 0.3rem;
		top: 0.3rem;

		&:active .icon {
			color: $white;
		}
	}

	&__description {
		padding: 1rem;
	}

	&__technologies,
	&__features {
		border-top: 1px dashed rgba(black, 0.15);

		padding: 1rem;
		h3 {
			// color: lighten(black, 20%);
			font-size: 1.6rem;
		}

		li {
			font-size: 1.5rem;
			padding: 0.5rem;
		}
	}

	&__features {
		// border-top: 1px dashed rgba(black, 0.2);
		color: lighten(black, 20%);
		padding: 1rem;
		h3 {
			// color: lighten(black, 20%);
			font-size: 1.6rem;
		}
		li {
			display: block;
			position: relative;
			margin-left: 2rem;
			font-size: 1.5rem;
			padding: 0.5rem;

			& > .icon {
				position: absolute;
				left: -1.8rem;
			}
		}
	}

	animation-name: transition-in-left;
	animation-timing-function: cubic-bezier(0, 1, 1, 1);
	animation-fill-mode: backwards;
	animation-duration: 3s;
	@include delays;
}
