@import "../common/variables.scss";
@import "../common/mixins.scss";
@import "../common/animations.scss";

.prompt {
	&__backdrop {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: $backdrop-index;
		left: 0;
		top: 0;
		background-color: rgba($primary-dark-30, 0.6);
	}

	&__window {
		@extend .fixed-center;
		width: 30rem;
		border-radius: 0.3rem;
		font-size: 1.4rem;

		z-index: $prompt-window-index;
		background-color: $white;
		box-shadow: $shadow-inactive;

		@media screen and (max-width: $prompt-breakpoint) {
			width: 95%;
		}
	}

	&__bar {
		height: 4rem;
		&--pending {
			background-color: $danger-light-10;
		}
		&--success {
			background-color: $primary;
		}
		&--undefined {
			background-color: $danger;
		}
	}

	&__actions {
		padding: 1rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__action {
		&:last-of-type {
			margin-left: 1rem;
		}
	}

	&__message,
	&__component {
		margin: auto;
		@extend .flex-center;
		padding: 1rem;
	}

	&__message {
		text-align: center;
		font-size: 1.6rem;
		color: $primary-dark-30;

		&2 {
			@extend .prompt__message;
			padding-bottom: 1rem;
			font-weight: 700;
			color: $primary;
		}
	}
}
